.notification-container {
    position: fixed;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    max-width: 300px;
}

.notification {
    opacity: 0;
    animation: slideIn 0.5s ease-in-out forwards, fadeIn 0.5s ease-in-out forwards;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.notification.error {
    background-color: #FFCDD2;
    border-color: #E57373;
}

.notification.warn {
    background-color: #FFF9C4;
    border-color: #FFD54F;
}

.notification.succ {
    background-color: #C8E6C9;
    border-color: #81C784;
}

.notification span {
    flex-grow: 1;
    overflow-wrap: break-word;
    font-family: Arial, Helvetica, sans-serif;
}

.notification button {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
    color: #555;
    padding: 1px;
    margin-left: 8px;
    transition: 0.2s;
}

@keyframes slideIn {
    from {
        transform: translateX(100%);
    }

    to {
        transform: translateX(0);
    }
}

@keyframes fadeIn {
    to {
        opacity: 1;
    }
}