.parameter_blocks {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.parameter_label {
    font-size: 30px;
}

.type_editor {
    border: 3px solid black;
    border-radius: 15px;
    padding: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.adder-form {
    padding: 5px;
    border: 2px solid #00a400;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
}

.type_editor table tr {
    border: 3px solid #00a400;
}

.type_editor table tr td {
    padding: 10px;
}

.type_editor table tr td button {
    padding: 3px 9px;
}