body {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 100%;
}

.header {
    width: 100vw;
    height: 10vh;
    background-color: #006CE6;
    display: flex;
    flex-direction: row;
    align-items: center;
    box-shadow: 0px 0px 20px black;
    justify-content: space-between;
}

.page_label {
    color: #fff;
    background-color: #2700E6;
    border: 2px solid #00E6CF;
    border-radius: 30px;
    font-size: 40px;
    align-self: flex-start;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 60px;
    z-index: 1;
    margin: 2vh;
}

.page_label.open {
    height: auto;
}

#page_label_text {
    padding: 10px 30px;
    cursor: pointer;
    transition: 0.2s;
}

#page_label_text:hover {
    text-shadow: 0px 0px 10px white;
}

button {
    font-weight: 0;
    font-size: 14px;
    color: #fff;
    background-color: #0066cc;
    padding: 10px 30px;
    border: 2px solid #00B4E6;
    box-shadow: rgb(0, 0, 0) 0px 0px 0px 0px;
    border-radius: 50px;
    transition: 0.2s;
    transform: translateY(0);
    cursor: pointer;
}

.buttons {
    padding: 20px;
    flex-direction: column;
    align-items: center;
    display: flex;
    gap: 15px;
}

.buttons button {
    display: block;
    width: 100%;
}

button:hover {
    transition: 0.2s;
    transform: translateY(-0px);
    background-color: #fff;
    color: #0066cc;
    border: solid 2px #0066cc;
}

.profile {
    border: 2px solid #00B4E6;
    border-radius: 20px;
    background-color: #fff;
    padding: 10px;
    margin-left: auto;
    margin-right: 10px;
}

.butt_row {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}

.butt_row button {
    margin: 2px;
    font-weight: 0;
    font-size: 12px;
    color: #fff;
    background-color: #0066cc;
    padding: 2.5px 7.5px;
    border: 2px solid #00B4E6;
    box-shadow: rgb(0, 0, 0) 0px 0px 0px 0px;
    border-radius: 50px;
    transition: 0.2s;
    transform: translateY(0);
    cursor: pointer;
}

.butt_row button:hover {
    transition: 0.2s;
    transform: translateY(-0px);
    background-color: #fff;
    color: #0066cc;
    border: solid 2px #0066cc;
}

#profile {
    margin: 3px;
    margin-bottom: 7px;
}

#user_info {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 2;
}

#user_info .user_card {
    border: 2px solid #00B4E6;
    border-radius: 30px;
    background-color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 15px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

#user_info .user_card #user_card_close {
    display: block;
    position: absolute;
    top: 10px;
    right: 10px;
}

#user_info .user_card div .act_text {
    margin: 5px;
    border-bottom: 4px solid #0066cc;
    padding: 2px;
    border-radius: 4px;
    transition: 0.2s;
}

#user_info .user_card div .act_text:hover {
    border-bottom: 4px solid #00B4E6;
}

#user_info .user_card .head {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#user_info .user_card .head #secret_key {
    background-color: #0066cc;
    color: #0066cc;
}

#user_info .user_card .head #secret_key:hover {
    color: #fff;
}

button:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

.footer {
    width: 100%;
    height: 90px;
    background-color: #006CE6;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    text-align: center;
    gap: 2px;
    margin-top: 20px;
}

.footer a {
    color: white;
}

.content {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}