.updates {
    border: 2px solid black;
    border-radius: 1em;
    margin: 0.5em;
    padding: 1em;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1em;

    .upd_block {
        max-width: 20em;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 0.4em;
        border: 2px solid black;
        padding: 0.5em;
        overflow: hidden;

        .upd_ver {
            font-size: 2em;
            font-weight: bold;
        }

        .upd_desc {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            text-wrap: wrap;
            gap: 0.3em;

            div {
                user-select: none;
                border: 2px solid transparent;
                border-bottom: 2px solid #006CE6;
                transition: 0.1s;
                padding: 0.2em;

                &:hover {
                    border: 2px solid #006CE6;
                }
            }
        }
    }
}