@mixin buttons {
    border-radius: 0.3em;
    font-size: 1em;
    background-color: #fff;
    color: #000;
    padding: 0.3em 1em;
    transition: 0.3s;
    border: 0.15em solid black;

    &:hover {
        border-color: #06f;
        color: #06f;
        fill: #06f;
    }

    &:active {
        border-color: #06f;
        color: #06f;
        fill: #06f;
        box-shadow: none;
    }

    &:disabled {
        pointer-events: none;
    }

    @media screen and (max-width: 600px) {
        font-size: 0.8em;
        padding: 0.2em 0.8em;
    }
}

#file-upload-container {
    border: 0.2em solid #0062d2;
    background-color: #fff;
    padding: 0.5em;
    border-radius: 0.75em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.5em;
    transition: 0.3s;
    max-width: 30vw;
    min-width: fit-content;

    @media screen and (max-width: 600px) {
        max-width: 90vw;
    }

    .buttons-row {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 0.5em;
    }

    #file-list {
        border-radius: 0.4em;
        padding: 0.4em;
        display: flex;
        flex-direction: column;
        align-items: stretch;
        gap: 0.4em;

        &:empty {
            display: none;
        }

        .file-item {
            display: flex;
            flex-direction: row;
            align-items: flex-start;
            justify-content: space-between;
            gap: 1em;
            flex-grow: 1;
            border: 0.2em solid purple;
            border-radius: 0.4em;
            padding: 0.4em;
            position: relative;

            .name-n-type {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                gap: 0.3em;
                .file-name {
                    word-break: break-all;
                }

                .type-list {
                    border: 0.15em solid;
                }
            }

            .file-remove {
                @include buttons();
                align-self: flex-end;
            }

            &.rm-animation {
                animation: rm-elem 1s ease-in forwards;
            }


        }
    }

    #upload-btn {
        @include buttons();
    }
}

@keyframes rm-elem {
    0% {
        opacity: 1;
        filter: blur(0px);
        pointer-events: none;
    }

    100% {
        opacity: 0;
        filter: blur(30px);
        pointer-events: none;
    }
}